
@{
    ViewBag.Title = "SendAs400";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Inportación</h2>

<div class="modal" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Sistema de Computos</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p>Migracion completada con Éxito</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary">aceptar</button>
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Volver</button>
            </div>
        </div>
    </div>
</div>